page-desahogo {
    .bg-image5{
        background-image: url('../assets/background/45142638_247824185891775_3392378351082536960_n.jpg');
        background-repeat: no-repeat;
        background-position: left;
        background-size: cover;
    }
    .centrarb{
        text-align:center;
        padding-top: center;
    }
    .Textarea{
        background-color:  burlywood;
        max-lines: 150;
        color: white;
        width: 40px;
        height: 200px;

    }
}
