<ion-content padding class="bg-image">
  <div id="botonesredessociales">
    <a href='https://www.instagram.com/barcasababylon49' id="insta" ><ion-icon name="logo-instagram"></ion-icon></a>      
     <a href='https://www.facebook.com/barcasababylon' id="face"><ion-icon  name="logo-facebook"></ion-icon></a>
   </div>
   <div class="botonesingresoregistro" >
    <button ion-button class="boton" id="registro"  (click)='abrirR()' >REGISTRO</button>
    <button ion-button class="boton" id="ingreso"  (click)='abrirI()'>INGRESO</button>
</div>
</ion-content>
