page-home {
    .bg-image{
        background-image: url('../assets/background/op4.jpeg');
        background-repeat: no-repeat;
        background-position: bottom; //Se ajusta el pie de la imagen en los dos celulares pero no se ajusta con respecto a la parte de arriba
        background-size: cover;
    }
    .ion-logo-facebook{
        margin-left: 24.5rem;//funciona para LG e IPHONE de manera vertical
        color:#C0392B;
        font-size: 5rem;
        margin-top: 2rem;    
        
       }
       @media screen and (min-width: 480px){//funciona para LG horizontal
        .ion-logo-facebook{
          margin-left: 36rem;
          margin-top: 0.1rem;
          color:#C0392B;
          //font-size: rem;    
          
         }

       }
       @media screen and (min-width: 600px){
        .ion-logo-facebook{
          margin-left: 35rem;
          color:#C0392B;
          //font-size: rem;    
          
         }

       }
      .ion-logo-instagram{
         color:#C0392B;
         font-size: 5rem;
         margin-left: 2,5rem;

        
       }
       @media screen and (min-width: 480px){ //LG Horizontal
        .ion-logo-instagram{
          color:#C0392B;
          font-size: 5rem;
          margin-left: 5rem;
         
         
        }
       }
       #titulo{
           text-align: center;
           font-weight: bold;
           font-size: 40px;
       }
       .botonhome{
        margin-left:80px;
        margin-top:290px;
        background-color: #C0392B;
             
      }
      .boton{ //funciona LG vertical
        background-color: #C0392B;
        border-radius: 12px;
        border: 2px solid gray;
        size: 12rem;
        font-size: 2rem;
        margin-top: 50%;
      }
      
      @media screen and (min-width: 375px){//funciona para iphone vertical
      .boton{
        background-color: #C0392B;
        border-radius: 12px;
        border: 2px solid gray;
        size: 12rem;
        font-size: 2rem;
        margin-top: 70%;
        
        }
      }
      @media screen and (min-width: 500px) {//Funciona LG horizontal
        .boton
        {
        background-color: #C0392B;
        border-radius: 12px;
        border: 2px solid gray;
        size: 12rem;
        font-size: 2rem;
        margin-top: 0.05%;
        
        }
        
      }
      @media screen and (min-width: 600px) {//Funciona iphone horizontal
        .boton
        {
        background-color: #C0392B;
        border-radius: 12px;
        border: 2px solid gray;
        size: 12rem;
        font-size: 2rem;
        margin-top: 2%;
        
        }
        .ion-logo-facebook{
          margin-left: 41rem;
          color:#C0392B;
          margin-top: 4%;    
          
         }
         .ion-logo-instagram{
          color:#C0392B;
          font-size: 5rem;
          margin-left: 6rem;
        
         }
      }
        @media screen and (min-width: 400px){     
         
          /*boton{            
            margin-top: 0,1rem;
             width: 30%;
             position: unset;
             
          }*/
        
          .bg-image{
            background-image: url('../assets/background/APP01.jpg');
            background-repeat: round;
            background-position: inherit;
            background-size: cover;
          }

        
      }
      @media screen and (min-width: 600px){     
         
        /*.boton{            
          //margin: -20px;
           width: 30%;
           position: unset;
           
        }*/
      
        .bg-image{
          background-image: url('../assets/background/APP01.jpg');
          background-repeat: round;
          background-position: inherit;
          //background-size:500rem;
          
        }

      
    }
        .centrar{
          padding-top: 250px;
          text-align:center
         }
         
        .centrarH{
          padding-top: 45px;
          text-align:center
         }
         .homme{
          background-color: transparent;
         }
         
         .menu ul {
          list-style-type: red;
          margin: 0;
          padding: 0;
        }

        .topnav:hover {
          background-color: brown;  
          
        }
        .navbar {
          margin-bottom: 0;
          background-color: #f4511e;
          z-index: 9999;
          border: 0;
          font-size: 12px !important;
          line-height: 1.42857143 !important;
          letter-spacing: 4px;
          border-radius: 0;
          font-family: Montserrat, sans-serif;
        }
       

        
      
      

}
