page-home {
    .bg-image{
        background-image: url('../assets/background/APP01.jpg');
        background-repeat: no-repeat;
        background-position: left;
        background-size: cover;
    }
    .ion-logo-facebook{
        margin-left: 300px;
        color:#C0392B;
        font-size: 40px;
        
       }
      .ion-logo-instagram{
         color:#C0392B;
         font-size: 40px;

        
       }
       #titulo{
           text-align: center;
           font-weight: bold;
           font-size: 40px;
       }
       .botonhome{
        
        margin-left:80px;
        margin-top:290px;
             
      }
      .boton_registro{
        background-color:rgb(182, 63, 63);
        border-radius: 6px;
        border: 2px solid gray;
        }
        .centrar{
          margin-top: 250px;
          text-align:center
         }
         .homme{
          background-color: transparent;
         }
         .toolbar-background{
           background-color: transparent!important;
           
         }
      
      

}
