page-mi {
    .bg-image5{
        background-image: url('../assets/background/op5.jpeg');
        background-repeat: no-repeat;
        background-position: left;
        background-size: cover;
    }
    .labelMi{
        margin: 100px 3;
        box-sizing: border-box;
       background-color: transparent;
       border: mediumblue;
    }
    input[type="text"]{
        border: 1px dotted #999999;
        -webkit-appearance: none;
        background-color: transparent;
       }
       .centrarR{
        text-align:center;
        margin-top: -3rem;
       
      }
}
