page-farras {
    .bg-image4{
        background-image: url('../assets/background/op3.jpeg');
        background-repeat: no-repeat;
        background-position: left;
        background-size: cover;
    }

}
