page-proxima {
    .bg-image{
        background-image: url('../assets/background/APP01.jpg');
        background-repeat: no-repeat;
        background-position: bottom; //Se ajusta el pie de la imagen en los dos celulares pero no se ajusta con respecto a la parte de arriba
        background-size: cover;
    }
     
        

}

