page-registro {
  .bg-image1{ //Se ajusta la imagen cuando la pantalla se gira LG
    background-image: url('../assets/background/45128303_1147771745397741_3245041031296581632_n.jpg');
    background-repeat: round;
    background-position: inherit;
    background-size: cover;
}
    

    .botonhome {
        margin-top: 100px;
    }
    .form {
       padding-bottom: 20px;
       padding-top: 20px;
    }
    input[type="text"]{
       border: 1px dotted #999999;
       -webkit-appearance: none;
       background-color: transparent;
       color: white;
      
      }
      input[type="number"]{
        border: 1px dotted #999999;
        -webkit-appearance: none;
        background-color: transparent;
        color: white;
      }
      
      
      input[type="date"]{
        border: 1px dotted #999999;
        -webkit-appearance: none;
        background-color: transparent;
        color: white;
      }
      input[type="password"]{
        border: 1px dotted #999999;
        -webkit-appearance: none;
        background-color: transparent;
        color: white;
      }
      input[type="email"]{
        border: 1px dotted #999999;
        -webkit-appearance: none;
        background-color: transparent;
        color: white;
      }

      .labelRe{
        margin: 100px 3;
        box-sizing: border-box;
        background-color: transparent;
        border: red !important;
       }
   
    .centrar{
      text-align:center;
      margin-top: 100px;
     
  }
  .reg{
    margin-top: 5%;
  }
  .Listo{
    text-align:center;
    margin-left: 48% ;
    //margin-top: -5rem;
    border-radius: 0.5rem;
    height: 3.5rem;
    width: 10rem ;
    color: black;
    background-color: 208 175 127 100;
  }
  
  .LN{
    //margin-top: 1rem;
    //padding-top: -4rem;
    margin-left: 2rem;
    color: #e6b42b;
  }
  /*.tit{
    
    padding-left: center;
    color: #e6b42b;
  }*/
  .bordes{
    margin-left: 26rem;
    margin-right: 20rem;
    width: 23.95rem;
    border-color:red;//No me ajusta el color en la App
    
  }
  .bordes1{//Fecha de nacimiento, Telefono, Correo, contraseña
    margin-left: 0.05rem;
    margin-right: 2.5rem;
    //width: 3rem;
    
  }
  .CR{
    color: #e6b42b;
      
    
  }
  .d{
    margin-top: -2rem;
  }
   @media screen and (min-width: 600px) {//iphone horizontal
    /*.Listo{
      text-align:center;
      margin-left: 48% ;
      //margin-top: -5rem;
      border-radius: 0.5rem;
      height: 3.5rem;
      width: 10rem ;
      color: blue !important;
      background-color: 208 175 127 100;
    }*/
    /*.bg-image1{ //Se ajusta la imagen cuando la pantalla se gira LG
      background-image: url('../assets/background/45128303_1147771745397741_3245041031296581632_n.jpg');
      background-repeat: round;
      background-position: inherit;
      background-size: cover;
  }*/
  
  .LN{
    //margin-top: 1rem;
    //padding-top: -4rem;
    margin-left: 5rem;
    color: #e6b42b;
  }
 
  .bordes{
    margin-left: 36rem;
    margin-right: 25rem;
    width: 43.95rem;
    border-color:red;//No me ajusta el color en la App
    
  }
  .bordes1{//Fecha de nacimiento, Telefono, Correo, contraseña
    margin-left: 0.05rem;
    margin-right: 5rem;
    //width: 3rem;
    
  }
  .titulo{
    //margin-top: 50px;
    padding-top: 2rem;
    color: #e6b42b;
    text-align: center;
  }
  .d{
    margin-top: -4rem;
  }

  
 }



}
