<ion-header>

    <ion-toolbar>
        <button ion-button menuToggle>
            <ion-icon name="barcode" class="icon-men"></ion-icon>
            
          </button>
      
    </ion-toolbar>
  
  </ion-header>
  
  
  <ion-content padding class="bg-image3">
    
      <div class="card">
      <div class="card2">
        <ion-card>
            <ion-card-header class="boton_pprincipal"   >PROXIMA CITA</ion-card-header>
        </ion-card>
      </div>
        <ion-card>         
            <ion-card-header class="boton_farras"   >FARRAS</ion-card-header>
        </ion-card>
        <ion-card>
            <ion-card-header class="boton_mi"  >MI LUGAR</ion-card-header>
        </ion-card>
        <ion-card>         
            <ion-card-header class="boton_desahogo"  >EL DESAHOGO</ion-card-header>
        </ion-card>
        <ion-card>
            <ion-card-header class="boton_lista" >LISTA DE ASISTENCIA</ion-card-header>
        </ion-card>
        <ion-card>         
                <ion-card-header class="boton_desahogo" (click)='Onlogout()' >CERRAR SESIÓN</ion-card-header>
            </ion-card>
      </div>
    
       
  </ion-content>