page-cr {
    .bg-image{
        background-image: url('../assets/background/45142638_247824185891775_3392378351082536960_n.jpg');
        background-repeat: no-repeat;
        background-position: left;
        background-size: contain;
    }

}
